@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <style>
          .sideContent {
              display:none;
          }
        </style>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
          $(document).ready(function() {
              $(".currentSideContent").click(function() {
                  changeSide();
              });
              changeSide();
              $("#outputType").change(function() {
                 $("#previewForm").attr("action", $(this).val());
              });
              $("#btnSubmit").click(function() {
                 $("#previewForm").attr("action", $("#outputType").val());
              });
          });

          function changeSide(){
              var side = $("input:radio[name='currentSideContent']:checked").val();
              var content = "";
              if (typeof side != "undefined"){
                 content = $('#' + side + 'Content').val();
              }
              $('#documentContent').val(content);
          }
        </script>
    </head>
    <body>
        @content
    </body>
</html>
